<h2><i>Your Result</i> </h2>
<span style="color: red;font-size: 30px;">Marks obtained by you {{score}} out of 3</span>
<h3><b><u>  View Answer</u></b></h3>

<table>


    <tr>
    
        <th>qno</th>
        
        <th>question</th>
        
        <th>submittedAnswer</th>
        
        <th>OriginalAnswer</th>
    
    </tr>
    
    <tr *ngFor="let answer of allanswers"[style.background]="getColor(answer.submittedAnswer,answer.originalAnswer)">
    
        <td>{{answer.qno}}</td>
    
        <td>{{answer.qtext}}</td>
    
        <td>{{answer.submittedAnswer}}</td>
    
        <td>{{answer.originalAnswer}}</td>
    
    </tr>
    
    </table>
    
    